<!-- Sticky Toolbar -->
<div class="sticky-toolbar">
  <!-- Header -->
  <div class="header">
    <h2><a routerLink="/" routerLinkActive="active" class="site-title">Trip Log</a></h2>
  </div>
  <!-- Navigation Bar -->
  <div class="navbar">
    <div class="navbar-left">
      <a *ngIf="user$ | async" routerLink="/trips" routerLinkActive="active">Trips</a>
    </div>
    <div class="navbar-right">
      <a *ngIf="!(user$ | async)" routerLink="/authentication/login" routerLinkActive="active">Login</a>
      <a *ngIf="user$ | async" (click)="onLogout()">Logout</a>
    </div>
  </div>
</div>

<!-- Content -->
<div class="main">
  <ng-content></ng-content>
</div>
