* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.sticky-toolbar {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 500;
}

.header {
  padding: 5px;
  text-align: center;
  background: #3f51b5;
  color: white;
}

.navbar {
  display: flex;
  background-color: cornflowerblue;
}

.navbar-left {
  flex-grow: 2;
  display: flex;
  justify-content: flex-start;
}

.navbar-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.mat-icon {
  margin: 2px 5px 0 5px;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  background-color: lightblue;
  color: #3f51b5;
}

a:hover {
  cursor: pointer;
}

.main {
  margin: 66px 0 0 0;
  padding: 10px;
  background-color: aliceblue;
  min-height: 100%;
}

.error-message {
  color:#ff4081;
  padding-top: 10px;
}
