<mat-card class="log-card">
  <mat-card-header>
    <img mat-card-avatar [src]="mediaService.getImageUrl(user.id, user.avatarUrl, 'profile') | async">
    <mat-card-title>{{ user.firstName ? user.firstName + ' ' + user.lastName : 'I Need A Name' }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="mediaService.getImageUrl(user.id, user.avatarUrl, 'profile') | async">
  <mat-card-actions>
    <i (click)="onEdit()" class="material-icons" style="padding-left: 5px">edit</i>
  </mat-card-actions>
</mat-card>
