<form *ngIf="trip" [formGroup]="tripForm" (ngSubmit)="onSubmit()" class="app-form">
  <mat-form-field class="app-ctrl-full-width">
    <input matInput placeholder="Name" formControlName="name" width="100%">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput (dateChange)="onStartDateChange($event)" [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate [startAt]="endDateStart"></mat-datepicker>
  </mat-form-field>
  <br />
  <div class="row">
    <button type="submit" [disabled]="!tripForm.valid" mat-raised-button color="primary">Save</button>
  </div>
  <br />
</form>  
